@charset "UTF-8";
@font-face {
    font-family: cursiva;
    src: url(fonts/DancingScript-VariableFont_wght.ttf) format('truetype');
        font-weight: 400;
        font-size: 1em;

}
@font-face {
    font-family: poema;
    src: url(fonts/Kalam-Regular.ttf) format('truetype');
        font-weight: normal;
        font-size: 1em;

}
body{
    background-color: #C0B3A3;
    margin: 0px;
}
header{
    margin: auto;
    width: 90%;
    min-height: 130px;
    background-color: #AFA187;
    font-family:  cursiva, sans-serif;
    font-size: 1.8em;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #595047;
    box-shadow: 1px 1px 5px black;
    margin-bottom: 10px;


}
header > h1{
    margin-top: 0px;
    margin-bottom: 10px;
   
}
header p{
    margin-top: 10px;
}
main{
    box-shadow: 2px 2px 9px rgb(0, 0, 0);
    margin: auto;
    background-color: #282226;
    max-width: 900px;
    min-width: 295px;
    border-radius: 15px;
    position: relative;
    min-height: 800px;
    padding: 9px;
    padding-right: 20px;
}
main p{
    
    line-height: 2em;
    display: inline-block;
    font-family: texto , sans-serif;
    
}
main h2{
    text-align: center;
    background-color: #443A31;
    background-size: 100px 50px;
    color: white;
    font-family:  cursiva, sans-serif;
    font-size: 3em;
    margin-bottom: 9px;

}
section{
    padding-top: 10vh;
    padding-bottom: 9vh;
    padding-left: 20px;
    width: 52%;
    border-radius: 50px;
}
section p{
    max-width: 350px;
    min-width: 200px;
    text-shadow: 3px 3px 8px black;
}
.normal{
    margin-left: 48%;
    background-color: #47403A;
    color: #C0B3A3;
    text-align: right;
    padding-right: 10px;
}
.imagem{
    background-color: #443A31;
    color: #C0B3A3;
    background-repeat: no-repeat;
    box-shadow: inset 6px 6px 19px  rgba(0, 0, 0, 0.749);
    background-attachment: fixed;
    background-size: cover;

}
.imagem p{
    background-color: #262422a5;
}
#terceiro{
    background-image: url(imagens/background.jpg);
    
    background-position: center center;
}
#primeiro{
    background-image: url(imagens/background.jpg);
    
    background-position: center center;

}
footer{
    text-align: center;
    background-color: #262422;
    height: 40px;
    color: #C0B3A3;
}
footer a{
    color: #b5af85;
    text-decoration: underline;
}



